.products-desc {
    width: 526px;
    margin: 51.45px 0;
}

.dropdown-title {
margin-right: 56px;
}

.dropdown-border-desc {
border: 1px solid $secondary-600;
border-radius: 16px;
padding: 5.5px 0;
}

.dropdown-btn-desc {
width: 280px;
border: none;
}

.dropdown-menu-desc {
overflow: hidden;
}

.order_buttom-desc {
background-color: $secondary-600;
color: #FFFFFF;
border-radius: 16px;
padding: 10.5px 16px;
}