<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <title>咖啡都是學 - 商品個人頁</title>
</head>

<body>

  <%- include('./layout/header'); -%>

    <main class="container">

      <nav class="fs-9 fs-md-5"
        style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb mt-2 mb-4 mt-md-10 mb-md-6">
          <li class="breadcrumb-item"><a class="link-secondary" href="./index.html">首頁</a></li>
          <li class="breadcrumb-item" aria-current="page"><a class="link-secondary" href="./collections.html">非洲</a>
          </li>
          <li class="breadcrumb-item text-neutral-500" aria-current="page">衣索比亞 / 瓦米納處理站 / 日曬 / 西達摩 / Heirloom原生種</li>
        </ol>
      </nav>

      <section class="flex-column d-md-flex flex-md-row">

        <img class="product-image me-md-9" src="/assets/images/1x_product02-web.png" alt="products_img">

        <div class="dropdown-group mb-9">

          <h1 class="fs-5 fs-md-3 fw-bold my-2 mb-md-4">衣索比亞 / 瓦米納處理站 / 日曬 / 西達摩 / Heirloom原生種</h1>
          <p class="fw-bold mb-4 mb-md-7"><span class="fs-6 fs-md-2 text-primary-400">＄400</span><span
              class="fs-9 fs-md-6 text-secondary-400"> /
              230g</span></p>
          <p class="fs-8 fs-md-5 text-secondary-400 mb-3 mb-md-6">如果您想購買更多的咖啡豆 / 咖啡粉 / 濾掛式，請調整訂購數量。</p>

          <div class="flex-column d-md-flex flex-md-row align-items-center ms-md-6 mb-md-6">
            <p class="dropdown-title mb-1 fs-8 fs-md-4 fw-bold">咖啡豆</p>
            <div class="d-flex align-items-center mb-3">
              <div class="dropdown dropdown-border-desc me-4">
                <button class="btn dropdown-btn-desc dropdown-toggle fs-7 fs-md-4 fw-bold" type="button"
                  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  100 克
                </button>
                <ul class="dropdown-menu dropdown-menu-desc my-3" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <p class="dropdown-item fs-7 fs-md-4 fw-bold text-center">100 克</p>
                  </li>
                  <li>
                    <p class="dropdown-item fs-7 fs-md-4 fw-bold text-center">200 克</p>
                  </li>
                  <li>
                    <p class="dropdown-item fs-7 fs-md-4 fw-bold text-center">300 克</p>
                  </li>
                </ul>
              </div>
              <a href="#"><i class="bi bi-cart3 order-buttom-desc"></i></a>
            </div>
          </div>

          <div class="flex-column d-md-flex flex-md-row align-items-center ms-md-6 mb-md-6">
            <p class="dropdown-title mb-1 fs-8 fs-md-4 fw-bold">咖啡粉</p>
            <div class="d-flex align-items-center mb-3">
              <div class="dropdown dropdown-border-desc me-4">
                <button class="btn dropdown-btn-desc dropdown-toggle fs-7 fs-md-4 fw-bold" type="button"
                  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  100 克
                </button>
                <ul class="dropdown-menu dropdown-menu-desc my-3" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <p class="dropdown-item fs-7 fs-md-4 fw-bold text-center">100 克</p>
                  </li>
                  <li>
                    <p class="dropdown-item fs-7 fs-md-4 fw-bold text-center">200 克</p>
                  </li>
                  <li>
                    <p class="dropdown-item fs-7 fs-md-4 fw-bold text-center">300 克</p>
                  </li>
                </ul>
              </div>
              <a href="#"><i class="bi bi-cart3 order-buttom-desc"></i></a>
            </div>
          </div>

          <div class="flex-column d-md-flex flex-md-row align-items-center ms-md-6 mb-md-6">
            <p class="dropdown-title mb-1 fs-8 fs-md-4 fw-bold">濾掛式</p>
            <div class="d-flex align-items-center mb-3">
              <div class="dropdown dropdown-border-desc me-4">
                <button class="btn dropdown-btn-desc dropdown-toggle fs-7 fs-md-4 fw-bold" type="button"
                  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  一袋十入<span class="fs-6 fw-bold">(100克)</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-desc my-3" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <p class="dropdown-item fs-7 fs-md-4 fw-bold text-center">一袋十入<span
                        class="fs-6 fw-bold">(100克)</span></p>
                  </li>
                  <li>
                    <p class="dropdown-item fs-7 fs-md-4 fw-bold text-center">兩袋十入<span
                        class="fs-6 fw-bold">(200克)</span></p>
                  </li>
                  <li>
                    <p class="dropdown-item fs-7 fs-md-4 fw-bold text-center">三袋十入<span
                        class="fs-6 fw-bold">(300克)</span></p>
                  </li>
                </ul>
              </div>
              <a href="#"><i class="bi bi-cart3 order-buttom-desc"></i></a>
            </div>
          </div>

        </div>

      </section>

      <div class="product-desc mb-6 mb-md-7">
        <ul class="list-unstyled fs-8 fs-md-5 mb-4 mb-md-6 px-md-4">
          <li>
            <p class="mb-2">風味<span class="ms-6 ms-md-9 text-primary-400">花香類、果香類、糖香類、香料類、堅果類</span></p>
          </li>
          <li>
            <p class="mb-2">高海拔<span class="ms-6 ms-md-9 text-primary-400">淡雅花香、柑橘熱帶熟果</span></p>
          </li>
          <li>
            <p class="mb-2">中海拔</p>
          </li>
          <li>
            <p class="mb-2">口感<span class="ms-6 ms-md-9 text-primary-400">酸甜平衡</span></p>
          </li>
          <li>
            <p>烘培度<span class="ms-6 ms-md-9 text-primary-400">AGTRON粉值為60～66之間</span></p>
          </li>
        </ul>
        <div class="fs-8 fs-md-5 px-md-4">
          <p>
            日曬處理法是咖啡果在陽光下曬乾的方法，不去除或清洗果肉，這似乎是一個非常簡單的過程，但實際上這是一個耗時的過程，因為在這過程中很容易發生損壞，並且很難保持相同的品質。<br>
            這會產生濃郁的果香咖啡。<br>
            許多人第一次嘗試時都會感到驚訝，因為它具有普通咖啡所沒有的果香和發酵風味。
          </p>
        </div>
      </div>

      <div class="link-list-top text-center">
        <button type="button" class="btn btn-outline-secondary-600 link-buttom-desc border-2 p-0">
          <a href="mailto:yoohkwjsix@iubridge.com">
            <span class="material-symbols-outlined p-4">
              mail
            </span>
          </a>
        </button>
        <button type="button" class="btn btn-outline-secondary-600 link-buttom-desc border-2 p-0 mx-14 my-6">
          <a href="#">
            <span class="material-symbols-outlined p-4">
              favorite
            </span>
          </a>
        </button>
        <button type="button" class="btn btn-outline-secondary-600 link-buttom-desc border-2 p-0">
          <a href="#">
            <span class="material-symbols-outlined p-4">
              share
            </span>
          </a>
        </button>
      </div>

      <div class="mb-6 mb-md-7">
        <h2 class="fs-5 fs-md-2 fw-bold">其他品項</h2>
      </div>

    </main>

    <div class="swiper mb-14">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="list-unstyled card swiper-card-desc border-0">
            <li><img src="/assets/images/1x_product01-web.png" alt="product_img"></li>
            <li>
              <p class="fs-9 text-neutral-300">Blue Java Full Washed Arabica / BlueJava Situ Full Washed</p>
            </li>
            <li>
              <h3 class="fs-6 text-neutral-500 fw-bold mb-1">藍鑽爪哇全水洗阿拉比卡</h3>
            </li>
            <li>
              <p class="fs-9 text-neutral-300">風味就像……</p>
            </li>
            <li>
              <p class="fs-8 text-primary-400 mb-1">果香甜、柳丁、醇度適中、尾韻乾淨</p>
            </li>
            <li>
              <p class="fs-8 mb-1">全水洗處理｜<span class="text-primary-300">Specialty</span></p>
            </li>
            <li>
              <p class="text-primary-600 fw-bold">＄400</p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="list-unstyled card swiper-card-desc border-0">
            <li><img src="/assets/images/1x_product03-web.png" alt="product_img"></li>
            <li>
              <p class="fs-9 text-neutral-300">Blue Java Winey Arabica / Blue Java Situ Winey</p>
            </li>
            <li>
              <h3 class="fs-6 text-neutral-500 fw-bold mb-1">藍鑽爪哇酒香阿拉比卡</h3>
            </li>
            <li>
              <p class="fs-9 text-neutral-300">風味就像……</p>
            </li>
            <li>
              <p class="fs-8 text-primary-400 mb-1">酒香、莓果、甜感濃郁、尾韻甜</p>
            </li>
            <li>
              <p class="fs-8 mb-1">酒香日曬處理｜<span class="text-primary-300">Specialty</span></p>
            </li>
            <li>
              <p class="text-primary-600 fw-bold">＄400</p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="list-unstyled card swiper-card-desc border-0">
            <li><img src="/assets/images/1x_product02-web.png" alt="product_img"></li>
            <li>
              <p class="fs-9 text-neutral-300">Blue Java Natural Arabica / Blue Java Situ Natural</p>
            </li>
            <li>
              <h3 class="fs-6 text-neutral-500 fw-bold mb-1">藍鑽爪哇日曬阿拉比卡</h3>
            </li>
            <li>
              <p class="fs-9 text-neutral-300">風味就像……</p>
            </li>
            <li>
              <p class="fs-8 text-primary-400 mb-1">鳳梨、蘋果、水蜜桃、醇度適中、甜感濃郁尾韻甜</p>
            </li>
            <li>
              <p class="fs-8 mb-1">天然日曬處理｜<span class="text-primary-300">Specialty</span></p>
            </li>
            <li>
              <p class="text-primary-600 fw-bold">＄400</p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="list-unstyled card swiper-card-desc border-0">
            <li><img src="/assets/images/1x_product01-web.png" alt="product_img"></li>
            <li>
              <p class="fs-9 text-neutral-300">Blue Java Full Washed Arabica / BlueJava Situ Full Washed</p>
            </li>
            <li>
              <h3 class="fs-6 text-neutral-500 fw-bold mb-1">藍鑽爪哇全水洗阿拉比卡</h3>
            </li>
            <li>
              <p class="fs-9 text-neutral-300">風味就像……</p>
            </li>
            <li>
              <p class="fs-8 text-primary-400 mb-1">果香甜、柳丁、醇度適中、尾韻乾淨</p>
            </li>
            <li>
              <p class="fs-8 mb-1">全水洗處理｜<span class="text-primary-300">Specialty</span></p>
            </li>
            <li>
              <p class="text-primary-600 fw-bold">＄400</p>
            </li>
          </ul>
        </div>
        <ul class="swiper-slide">
          <div class="list-unstyled card swiper-card-desc border-0">
            <li><img src="/assets/images/1x_product03-web.png" alt="product_img"></li>
            <li>
              <p class="fs-9 text-neutral-300">Blue Java Winey Arabica / Blue Java Situ Winey</p>
            </li>
            <li>
              <h3 class="fs-6 text-neutral-500 fw-bold mb-1">藍鑽爪哇酒香阿拉比卡</h3>
            </li>
            <li>
              <p class="fs-9 text-neutral-300">風味就像……</p>
            </li>
            <li>
              <p class="fs-8 text-primary-400 mb-1">酒香、莓果、甜感濃郁、尾韻甜</p>
            </li>
            <li>
              <p class="fs-8 mb-1">酒香日曬處理｜<span class="text-primary-300">Specialty</span></p>
            </li>
            <li>
              <p class="text-primary-600 fw-bold">＄400</p>
            </li>
          </div>
        </ul>
        <div class="swiper-slide">
          <ul class="list-unstyled card swiper-card-desc border-0">
            <li><img src="/assets/images/1x_product02-web.png" alt="product_img"></li>
            <li>
              <p class="fs-9 text-neutral-300">Blue Java Natural Arabica / Blue Java Situ Natural</p>
            </li>
            <li>
              <h3 class="fs-6 text-neutral-500 fw-bold mb-1">藍鑽爪哇日曬阿拉比卡</h3>
            </li>
            <li>
              <p class="fs-9 text-neutral-300">風味就像……</p>
            </li>
            <li>
              <p class="fs-8 text-primary-400 mb-1">鳳梨、蘋果、水蜜桃、醇度適中、甜感濃郁尾韻甜</p>
            </li>
            <li>
              <p class="fs-8 mb-1">天然日曬處理｜<span class="text-primary-300">Specialty</span></p>
            </li>
            <li>
              <p class="text-primary-600 fw-bold">＄400</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="swiper-button-prev swiper-button-prev-desc">
        <span
          class="material-symbols-outlined swiper-button-prev-item-desc fw-bold border border-1 border-secondary-500 rounded-circle">
          chevron_left
        </span>
      </div>
      <div class="swiper-button-next swiper-button-next-desc">
        <span
          class="material-symbols-outlined swiper-button-next-item-desc fw-bold border border-1 border-secondary-500 rounded-circle">
          chevron_right
        </span>
      </div>
    </div>

    <div id="carouselExampleControls" class="carousel slide container swiper-mobile-desc mb-9" data-bs-ride="carousel">
      <div class="carousel-inner">
        <ul class="list-unstyled carousel-item active">
          <li><img src="/assets/images/1x_product01-web.png" class="d-block w-100" alt="product_img"></li>
          <li>
            <p class="fs-9 text-neutral-300">Blue Java Full Washed Arabica / BlueJava Situ Full Washed</p>
          </li>
          <li>
            <h3 class="fs-6 text-neutral-500 fw-bold mb-1">藍鑽爪哇全水洗阿拉比卡</h3>
          </li>
          <li>
            <p class="fs-9 text-neutral-300">風味就像……</p>
          </li>
          <li>
            <p class="fs-8 text-primary-400 mb-1">果香甜、柳丁、醇度適中、尾韻乾淨</p>
          </li>
          <li>
            <p class="fs-8 mb-1">全水洗處理｜<span class="text-primary-300">Specialty</span></p>
          </li>
          <li>
            <p class="text-primary-600 fw-bold">＄400</p>
          </li>
        </ul>
        <ul class="list-unstyled carousel-item">
          <li><img src="/assets/images/1x_product03-web.png" alt="product_img"></li>
          <li>
            <p class="fs-9 text-neutral-300">Blue Java Winey Arabica / Blue Java Situ Winey</p>
          </li>
          <li>
            <h3 class="fs-6 text-neutral-500 fw-bold mb-1">藍鑽爪哇酒香阿拉比卡</h3>
          </li>
          <li>
            <p class="fs-9 text-neutral-300">風味就像……</p>
          </li>
          <li>
            <p class="fs-8 text-primary-400 mb-1">酒香、莓果、甜感濃郁、尾韻甜</p>
          </li>
          <li>
            <p class="fs-8 mb-1">酒香日曬處理｜<span class="text-primary-300">Specialty</span></p>
          </li>
          <li>
            <p class="text-primary-600 fw-bold">＄400</p>
          </li>
        </ul>
        <ul class="list-unstyled carousel-item">
          <li><img src="/assets/images/1x_product02-web.png" alt="product_img"></li>
          <li>
            <p class="fs-9 text-neutral-300">Blue Java Natural Arabica / Blue Java Situ Natural</p>
          </li>
          <li>
            <h3 class="fs-6 text-neutral-500 fw-bold mb-1">藍鑽爪哇日曬阿拉比卡</h3>
          </li>
          <li>
            <p class="fs-9 text-neutral-300">風味就像……</p>
          </li>
          <li>
            <p class="fs-8 text-primary-400 mb-1">鳳梨、蘋果、水蜜桃、醇度適中、甜感濃郁尾韻甜</p>
          </li>
          <li>
            <p class="fs-8 mb-1">天然日曬處理｜<span class="text-primary-300">Specialty</span></p>
          </li>
          <li>
            <p class="text-primary-600 fw-bold">＄400</p>
          </li>
        </ul>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <span aria-hidden="true"></span>
        <span
          class="material-symbols-outlined carousel-button-prev-item-desc fw-bold border border-1 border-secondary-500 rounded-circle">
          chevron_left
        </span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <span aria-hidden="true"></span>
        <span
          class="material-symbols-outlined carousel-button-next-item-desc fw-bold border border-1 border-secondary-500 rounded-circle">
          chevron_right
        </span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container">
      <div class="link-list-bottom text-center mb-2">
        <button type="button" class="btn btn-outline-secondary-600 link-list-bottom-desc border-2 p-0">
          <a href="mailto:yoohkwjsix@iubridge.com">
            <span class="material-symbols-outlined fs-4 p-3">
              mail
            </span>
          </a>
        </button>
        <button type="button" class="btn btn-outline-secondary-600 link-list-bottom-desc border-2 p-0 mx-7 my-7">
          <a href="#">
            <span class="material-symbols-outlined p-3">
              favorite
            </span>
          </a>
        </button>
        <button type="button" class="btn btn-outline-secondary-600 link-list-bottom-desc border-2 p-0">
          <a href="#">
            <span class="material-symbols-outlined p-3">
              share
            </span>
          </a>
        </button>
      </div>
    </div>

    <div class="container">
      <row>
        <button onclick="topFunction()" id="myBtn" title="Go to top"><i
            class="bi bi-shift text-secondary-600 fs-4"></i></button>
      </row>
    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>

      <script>
        // Get the button:
        let mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction();
        };

        function scrollFunction() {
          if (
            document.body.scrollTop > 800 ||
            document.documentElement.scrollTop > 800
          ) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
      </script>

      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

      <script>
        const swiper = new Swiper('.swiper', {
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          slidesPerView: 5,
          spaceBetween: 24,
          loop: true
        });
      </script>

</body>

</html>